@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?tq1sq5');
  src: url('../fonts/icomoon.eot?tq1sq5#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?tq1sq5') format('truetype'), url('../fonts/icomoon.woff?tq1sq5') format('woff'), url('../fonts/icomoon.svg?tq1sq5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.layout {
  max-width: 1000px;
  height: inherit;
  margin: 0 auto;
  padding-left: 30px;
  display: flex;
  flex: 1;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: wrap;
  color: #383737;
}
* {
  background-color: #F5F5F5;
  font-family: 'Raleway', sans-serif;
}
.icon-menu:before {
  content: "\e900";
}
.burger-button {
  width: 35px;
  height: 35px;
  display: none;
  border-radius: 50%;
  background-color: #383737;
  color: #F5F5F5;
  line-height: 35px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
}
.header {
  height: 70px;
  background-color: #F5F5F5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .container {
  max-width: 1000px;
  height: inherit;
  margin: 0 auto;
  padding-left: 30px;
  display: flex;
  flex: 1;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: wrap;
  color: #383737;
}
.header a {
  color: #383737;
  text-decoration: none;
  align-items: center;
  padding: 0px 10px;
  height: inherit;
}
.header .nav_container {
  display: flex;
}
.homeButton {
  border: none;
  background: #F5F5F5;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  margin-top: 22px;
  font-size: 20px;
  color: #383737;
  text-decoration: none;
}
.nav_container a.icon {
  border: 1px solid black;
  border-radius: 50%;
}
.body_container {
  padding: 10px;
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
  max-width: 1000px;
  height: inherit;
  margin: 0 auto;
  padding-left: 30px;
  display: flex;
  flex: 1;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: wrap;
  color: #383737;
}
.body_container .post {
  border-top: 1px solid grey;
}
.body_container .texto {
  margin-bottom: 20px;
}
.body_container .texto .readMore {
  color: #383737;
  font-style: none;
  font-size: 12px;
  text-decoration: none;
}
.body_container .texto .readMore .arrow {
  border: solid #383737;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.footerContainer {
  display: flex;
  margin-top: 20px;
  height: 50px;
  color: #696969;
  text-align: center;
  justify-content: space-between;
  font-size: 10px;
  align-items: flex-end;
}
@media only screen and (max-width: 587px) {
  .burger-button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .logo {
    margin: auto;
  }
  .nav_container {
    display: block;
    position: fixed;
    background-color: #404040;
    z-index: 3;
    top: 0;
    left: -200vw;
    bottom: 0;
    width: 100vw;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .nav_container.is-active {
    left: 0;
  }
  .navButton {
    display: none;
  }
  .navButton--margin--top {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 426px) {
  .icon {
    display: none;
  }
}
