.body_container{
	padding: 10px;
	padding-top: 50px;
	font-family: 'Raleway', sans-serif;
	max-width: 1000px;
    .layout();
    .post1 {
        border-top: 1px solid grey;
    }
    .texto{
        margin-bottom: 20px;
    }
}

